<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="gen:pdf" type="SimpleSitecorePdf.Commands.GenerateScreenshotForContextItem,SimpleSitecorePdf" />
    </commands>
    <pipelines>
      <getScreenShotForURL>

        <!-- Disable setting of Experience Editor URL Parameters that cause a redirect to Sitecore login -->
        <processor type="Sitecore.ContentTesting.Pipelines.GetScreenShotForURL.PopulateUrlParameters, Sitecore.ContentTesting">
          <patch:delete />
        </processor>

        <!-- Set Front End URL Properly -->
        <processor type="SimpleSitecorePdf.Pipelines.GetScreenShotForUrl.LoadUrl, SimpleSitecorePdf"
                   patch:after="*[@type='Sitecore.ContentTesting.Pipelines.GetScreenShotForURL.LoadUrl, Sitecore.ContentTesting']">
          <DatabaseName>master</DatabaseName>
        </processor>
        
        <processor type="Sitecore.ContentTesting.Pipelines.GetScreenShotForURL.LoadUrl, Sitecore.ContentTesting">
          <patch:delete />
        </processor>
        
        <!-- Modify PhantomJS script to render page as PDF and add timeout to ensure full page load -->
        <processor type="SimpleSitecorePdf.Pipelines.GetScreenShotForUrl.AdjustScript, SimpleSitecorePdf"
                   patch:after="*[@type='Sitecore.ContentTesting.Pipelines.GetScreenShotForURL.RenderScripts, Sitecore.ContentTesting']">
          <!-- Adjust to ensure images load properly -->
          <Timeout>2000</Timeout>
          <DirectPdf>true</DirectPdf>
        </processor>

      </getScreenShotForURL>
    </pipelines>
  </sitecore>
</configuration>