<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="gen:pdf" type="SimpleSitecorePdf.Commands.GenerateScreenshotForContextItem,SimpleSitecorePdf" />
    </commands>
    <pipelines>
      <getScreenShotForURL>

        <!-- Disable security check -->
        <processor type="Sitecore.ContentTesting.Pipelines.GetScreenShotForURL.CheckDisabler, Sitecore.ContentTesting">
          <patch:delete />
        </processor>

        <!-- Disable setting of Experience Editor URL Parameters that cause a redirect to Sitecore login -->
        <processor type="Sitecore.ContentTesting.Pipelines.GetScreenShotForURL.PopulateUrlParameters, Sitecore.ContentTesting">
          <patch:delete />
        </processor>

        <!-- Patch in processor to add timeout to rendering of Screenshot to ensure everything loads properly -->
        <processor type="SimpleSitecorePdf.Pipelines.GetScreenShotForUrl.AddTimeoutToScript, SimpleSitecorePdf"
                   patch:after="*[@type='Sitecore.ContentTesting.Pipelines.GetScreenShotForURL.RenderScripts, Sitecore.ContentTesting']">
          <!-- Adjust to ensure images load properly -->
          <Timeout>2000</Timeout>
        </processor>

        <!-- Patch in processor to generate PDF -->
        <processor type="SimpleSitecorePdf.Pipelines.GetScreenShotForUrl.GeneratePdf, SimpleSitecorePdf" />

      </getScreenShotForURL>
    </pipelines>
  </sitecore>
</configuration>